<!DOCTYPE html>
<html lang="pt-br">
    <head Content-Type="application/json">
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet"> 
        <title>COVID DENSO</title>
    </head>

    <script type="text/javascript" DEFER="DEFER">

      function mostrarCampos() {
        var visitante = document.getElementById('visitante').checked;
        var colaborador = document.getElementById('colaborador').checked;

        if (colaborador) {
          document.getElementById('div-colaborador').style.display = 'block';
          document.getElementById('div-corpo').style.display = 'block';
        } else {
          document.getElementById('div-colaborador').style.display = 'none';
        }

        if (visitante) {
          document.getElementById('div-visitante').style.display = 'block';
          document.getElementById('div-corpo').style.display = 'block';
        }else {
          document.getElementById('div-visitante').style.display = 'none';
        }

        habilitarEnviar();
      } 

      function lengthCheck(object)
      {
        if (object.value.length != object.maxLength)
          object.value = object.value.slice(0, object.maxLength)
      }
      
      function habilitarEnviar(){    
        var assinatura = document.getElementById('assinatura').checked;
        if (assinatura) {
          document.getElementById('btnEnviar').disabled = false;
        } else {
          document.getElementById('btnEnviar').disabled = true;
        }
      }

      function validarEnvio() {


        if (document.getElementById('colaborador').checked) {
          if ((isNaN((document.getElementById('matricula').value).trim()) == true) ||
              ((document.getElementById('matricula').value).trim() == "" )) {
              alert("É necessário Informar a matrícula.");
              document.getElementById('matricula').focus();
              return false;
          }
          if (parseInt(document.getElementById('matricula').value)<10000)  {
              alert("A matrícula deve ter 5 dígitos.");
              document.getElementById('matricula').focus();
              return false;
          }
          if (
              (parseInt(document.getElementById('matricula').value)<10001) || 
              (parseInt(document.getElementById('matricula').value)>12400)
            ) {
              alert("A matrícula parece não ser válida. Por favor entre em contato com o RH.");
              document.getElementById('matricula').focus();
              return false;
          }
          return true;
        } else {
          if (document.getElementById('empresa').value === '') {
              alert("É necessário informar sua empresa.");
              return false;
          }

          if (document.getElementById('identificacao').value === '') {
              alert("É necessário informar sua identificação.");
              return false;
          }
        }

        if ((document.getElementById('r1').checked == false) && (document.getElementById('r2').checked == false)) {
              alert("É necessário informar se teve ou não sintomas de COVID.");
              return false;
        }
          if (document.getElementById('assinatura').checked == false) {
            alert("É necessário confirmar a DECLARAÇÃO.");
            return false;
          }
      }

      function habilitarCampos() {
        document.getElementById('c9').checked = false
      }

      function desabilitarCampos(){
        if (document.getElementById('c9').checked) {
          document.getElementById('c1').checked = false
          document.getElementById('c2').checked = false
          document.getElementById('c3').checked = false
          document.getElementById('c4').checked = false
          document.getElementById('c5').checked = false
          document.getElementById('c6').checked = false
          document.getElementById('c7').checked = false
          document.getElementById('c8').checked = false
        }
      }

      mostrarCampos();
    </script>

    <body>

        <div class="alert">
          <h2>Formulário de Entrevista COVID-19. #XôCorona.</h2>
        </div>

        <div class="container">
          <form action="/registrar" method="POST" onsubmit="return validarEnvio()">
            <div class="row">
              <label class="radiocontainer">Visitante / Terceiro
                <input type="radio" id="visitante" value="visitante" name="radioTipo" onClick="mostrarCampos();"/>
                <span class="radiomark"></span>
              </label>
              <label class="radiocontainer">Colaborador DENSO
                <input type="radio" id="colaborador" value="colaborador" name="radioTipo" onClick="mostrarCampos();"/>
                <span class="radiomark"></span>
              </label>
            </div>
            <div id="div-colaborador" style="display: none">
              <div class="row">
                  <label>Matricula</label>
              </div>
              <div class="row">
                  <input type="number" style="font-weight:bold" oninput="lengthCheck(this)" maxlength = "5" id=matricula name="matricula" placeholder="">
                  <input type="text" name="radiotxt" id="radiotxt" hidden>
              </div> 
            </div>
            <div id="div-visitante" style="display: none">
              <div class="row">
                  <label>Empresa</label>
              </div>
              <div class="row">
                  <input type="text" style="font-weight:bold" id="empresa" name="empresa" placeholder="">
              </div>
              <div class="row">
                <label>Identificação</label>
              </div>
              <div class="row">
                  <input type="text" style="font-weight:bold" id="identificacao" name="identificacao" placeholder="">
              </div> 
            </div>
            <div id="div-corpo" style="display: none">
              <div class="row">
                <label>Temperatura corporal</label>
              </div>
              <div class="row">
                  <input type="text" style="font-weight:bold" id="temperatura" name="temperatura" placeholder="">
              </div>
              <div class="row">
                  <label>Você teve sintoma de COVID-19 nos últimos 5 dias?</label>
              </div>
              <div class="row">
                  <label class="radiocontainer">Sim
                    <input type="radio" id=r1 name="radioSintoma" />
                    <span class="radiomark"></span>
                  </label>
                  <label class="radiocontainer">Não
                    <input type="radio" id=r2 name="radioSintoma" />
                    <span class="radiomark"></span>
                  </label>
              </div>  
              <div class="row">
                  <label>Você teve um ou mais sintomas abaixo nos últimos 5 dias?</label>
              </div>
              <div class="row">
                  <label class="checkcontainer">Tosse
                    <input type="checkbox" name="c1" id="c1" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Falta de ar
                    <input type="checkbox" name="c2" id="c2" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Coriza
                    <input type="checkbox" name="c3" id="c3" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Febre
                    <input type="checkbox" name="c4" id="c4" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Falta de paladar ou olfato
                    <input type="checkbox" name="c5" id="c5" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Dor de cabeça
                    <input type="checkbox" name="c6" id="c6" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Dor no corpo
                    <input type="checkbox" name="c7" id="c7" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                    
                  </label>   
                  <label class="checkcontainer">Dor de garganta
                    <input type="checkbox" name="c8" id="c8" onClick="habilitarCampos();">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkcontainer">Não possuo nenhum dos sintomas listados
                    <input type="checkbox" name="c9" id="c9" onClick="desabilitarCampos();">
                    <span class="checkmark"></span>
                  </label>   
              </div> 

              <div class="row">
                <label>
                </label>
                <label class="checkcontainer">DECLARO que todas as informações acima são verdadeiras.
                  <input type="checkbox" name="assinatura" id="assinatura" onClick="habilitarEnviar();">
                  <span class="checkmark"></span>
                </label>   
              </div>
              <div class="row">
                <input type="submit" id="btnEnviar"  value="Enviar">
              </div>           
            </div>
          </form>

          <script>
            mostrarCampos();
            habilitarEnviar();
          </script>
        </div>
  </body>
</html>